main {
    min-height: calc(100vh - 80px);
}

h2 {
    margin: 20px 0;
}

form,
thead,
tbody,
th,
td {
    border: 1px solid black;
    padding: 5px 7px;
    background-color: rgb(237, 235, 235);
    text-align: center;
}

.btnAdmin {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAdmin button {
    padding: 5px 7px;
    font-size: 18px;
    margin-inline: 50px;
}

.messAdmin {
    color: red;
    padding-left: 30px;
}

.container {
    width: 100%;
    min-height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminCategory form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.adminCategory input,
label,
textarea {
    margin: 5px 0;
    padding: 7px 10px;
    border-radius: 5px;
}

.adminCategory button {
    margin-top: 10px;
}

.adminUsers select {
    padding: 5px 7px;
    border-radius: 5px;
}

.adminUsers button {
    background-color: green;
    padding: 3px;
    border-radius: 5px;
    color: white;
    border: transparent;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.adminUsers a {
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    color: white;
    border: transparent;
    font-weight: bold;
    letter-spacing: 1px;

}

.adminArticles a {
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    color: white;
    border: transparent;
    font-weight: bold;
    letter-spacing: 1px;

}