*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* ! provisoire */
header{
    display: flex;
    height: 7vh;
}
header ul{
    display: flex;
}
html, body{
    width: 100%;
    height: 100vh;
}
main{
    max-height: 86vh;
    width: 70%;
    margin: 20px auto;
}
.pages{
    display: flex;
    flex-direction: row-reverse;
    
}
.pages button{
    margin-inline: 20px;
    margin-bottom: 15px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    grid-gap: 30px;
    width: 100%;
    overflow-y: auto;
}
/* .card{ */
    /* position: relative; */
/* } */
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 350px;
    overflow-y: auto;
    padding: 5px;
    margin: auto;

}
.card h3{
    margin: 10px 0;
    text-align: center;
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card p{
    padding: 10px 5px;
    text-align: justify;
}
/* .card a{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 3%;
} */

/************** @media screen **************/
/* *************************************** */

@media screen and (max-width: 1390px) {
    main{
        width: 90%;
    }
    .blog{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        grid-gap: 20px;
    }
    /* .card a{
        margin-right: 7%;
    } */

}
@media screen and (max-width: 1145px){
    main{
        width: 95%;
    }

    .blog{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 20px;
    }
    /* .container img{
        /* width: 260px; */
        /* height: 180px; */
    /* } */
    /* .card a{
        margin-right: 2%;
    } */
}
@media screen and (max-width: 1075px){

    .pages{
        margin-right: 5%;
    }
    .blog{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    }
    /* .card a{ */
        /* margin-right: 15%; */
    /* } */
}
@media screen and (max-width: 758px){

    .pages{
        justify-content: center;
        margin: auto;
    }
    /* .card a{ */
        /* margin-right: 25%; */
    /* } */

}