main {
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background: black;  */
}

main form {
    display: flex;
    flex-direction: column;
    color: #fff;
}

main form h1 {
    padding: 15px;
}

main form label,
main form input {
    margin: 5px 0;
    padding: 8px 10px;
    border-radius: 5px;
}

main form button {
    margin-top: 15px;
}