header {
    background-color: orange;
}

header nav a {
    color: #ddd;
}

main {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/Mediterranean-Food-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main > .container {
    background-color: rgba(102, 102, 102, 0.253);
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}

/* *********** Search bar******** */
/* ****************************** */

.headerSearch {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    background-color: rgba(50, 50, 70, .5);
    color: orange;
}

.headerSearch h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
}

.headerSearch p {
    text-align: justify;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    /* text-shadow: -2px 2px 3px #ccc; */
    font-size: 20px;
}

.headerSearch form {
    margin-top: 50px;
}

.headerSearch form input {
    width: 340px;
    padding: 7px 12px;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    padding: 0 auto;
    max-height: 400px;
    overflow: auto;
}

#result li {
    padding: 5px 7px;
    border-bottom: 0.1px dashed black;
}

#result li a {
    /* color: black; */
}

#result li a:hover {
    /* color: black; */
    text-decoration: underline;
}

/* ***********  Articles ******** */
/* ****************************** */
.articlHome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.cardLeft {
    width: 45%;
    position: relative;
    height: 80%;
}

.cardLeft img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.cardLeft h3 {
    margin: 20px 0;
    text-align: center;
}

.cardLeft .author {
    margin-bottom: 40px;
}

.cardLeft button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(225, 19, 19);
    padding: 4px 7px;
    border-radius: 5px;
    transition: all .3s;
}

.cardLeft button:hover {
    background-color: rgb(252, 145, 52);
    letter-spacing: 1px;
}

.cardLeft button a {
    color: white;
    font-weight: bold;
}

.cardRight {
    width: 45%;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow-y: auto;
    padding: 5px;
    margin: auto;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 20px 0;
}

.card button {
    position: absolute;
    right: 0;
    bottom: 5px;
    background-color: rgb(225, 19, 19);
    padding: 4px 7px;
    border-radius: 5px;
    transition: all .3s;
}

.card button:hover {
    background-color: rgb(252, 145, 52);
    letter-spacing: 1px;
}

.card button a {
    color: white;
    font-weight: bold;
}

.author {
    display: flex;
    justify-content: space-between;
}

.author span {
    font-weight: bold;
}